html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#game {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;

  --tile-bg-tbd-border: var(--oc-gray-6);
  --tile-bg-correct: var(--oc-green-7);
  --tile-bg-absent: var(--oc-gray-8);
  --tile-bg-present: var(--oc-yellow-7);
  --tile-text-color: white;

  --key-bg: var(--oc-gray-6);
  --key-bg-correct: var(--oc-green-7);
  --key-bg-absent: var(--oc-gray-8);
  --key-bg-present: var(--oc-yellow-7);

}

header {
  display: flex;
}
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}
.board {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(6, 1fr);
  margin: auto;
  width: 350px;
  height: 420px;
}

.tileRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}


.tile {
  background: var(--tile-bg);
  color: var(--tile-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
}

.tile.tbd {
  color: black;
  background: var(--tile-bg-tbd);
  border: 1px solid var(--tile-bg-tbd-border);
}

.tile.correct {
  background: var(--tile-bg-correct);
}

.tile.present {
  background: var(--tile-bg-present);
}

.tile.absent {
  background: var(--tile-bg-absent);
}

.keyboard {
  margin: 0 8px;
  user-select: none;
  height: 200px;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}

.key {
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: var(--key-bg);
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.special-key {
  flex: 1.5;
}

.key.correct {
  background: var(--key-bg-correct);
}

.key.present {
  background: var(--key-bg-present);
}

.key.absent {
  background: var(--key-bg-absent);
}
